/*--------------------------------------------------------------
 Clinic page top main info
--------------------------------------------------------------*/

:root {
	--text-color: #1e293b;
	--heading-font: 'Marcellus', serif;
	--heading-font-rob: 'Roboto', sans-serif;
	--body-font: 'Inter', sans-serif;

	--gutter: 1.5rem;
}

.clinic-content {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}
.clinic-content h2 {
	font-family: var(--heading-font);
	text-align: center;
	font-size: 45px;
	font-weight: 400;
	line-height: 58px;
	color: var(--text-color);
}
.clinic-content p {
	font-family: var(--body-font);
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: var(--text-color);
}
.clinic_main_info {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}
.clinic_main_info .column:nth-child(1) {
	text-align: center;
	width: 60%;
}
.clinic_main_info .column:nth-child(1) img {
	margin-top: 18px;
}
.clinic_main_info .column:nth-child(2) {
	width: 40%;
}
.clinic_main_info .column:nth-child(2) .btn_green {
	margin-bottom: 20px;
}

.clinic_main_infon .column {
	margin: 0 auto;
	margin-left: 0;
	margin-right: 0;
}
.clinic_main_info .column:nth-child(1) .clinic-title {
	font-family: var(--heading-font);
	font-size: 32px;
	color: var(--text-color);
	margin: 10px 0 0 0;
}

.clinic_main_info h4 {
	font-family: var(--heading-font);
	font-size: 1.25rem;
	color: var(--text-color);
}
.clinic_main_info .column:nth-child(2) h4 {
	margin-bottom: 10px;
}
.clinic-addresses {
	padding-left: 0;
	list-style: none;
	margin-bottom: 30px;
}
.clinic-addresses li {
	font-family: var(--body-font);
	color: var(--text-color);
	font-size: 15px;
	margin-bottom: 10px;
}
.clinic-addresses li .fa-solid {
	padding-right: 10px;
}

.clinic_web_btn {
	text-align: center;
}

/*--------------------------------------------------------------
 maps section
--------------------------------------------------------------*/
.clinic-maps-inner {
	display: grid;
	grid-gap: 1rem;
	/* two columns on desktop, one on mobile */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-bottom: 2rem;
}

/*--------------------------------------------------------------
 Buttons
--------------------------------------------------------------*/

.btn_green_ol,
.btn_green {
	background-color: var(--cpt360-primary);
	color: #ffffff;
	font-size: 18px;
	font-family: var(--body-font);
	font-weight: 500;
	border-radius: 27px;
	padding: 15px 30px;
	border: 1px solid #6ebe44;
	cursor: pointer;
	width: 100%;
	max-width: 312px;
	height: 54px;
	min-height: auto;
	text-align: center;
	white-space: nowrap;
	transition: background-color 0.2s ease, -webkit-transform 0.2s ease;
	transition: transform 0.2s ease, background-color 0.2s ease;
	transition: transform 0.2s ease, background-color 0.2s ease, -webkit-transform 0.2s ease;
	display: block;
	margin: 0;
	line-height: 22px;
	text-decoration: none;
	display: inline-block;
}

.btn_green:hover {
	background-color: transparent !important;
	color: #282e24 !important;
	border: 1px solid #282e24 !important;
}

@media (max-width: 768px) {
	.btn_green {
		font-size: 15px;
		padding: 15px 30px;
	}
}

@media (max-width: 480px) {
	.btn_green {
		font-size: 15px;
		padding: 15px 25px;
	}
}
.btn_green_ol {
	transition: all 0.3s;
	background-color: transparent;
	color: var(--cpt360-primary);
	text-decoration: none;
}
.btn_green_ol:hover {
	background-color: transparent !important;
	color: #282e24 !important;
	border: 1px solid #282e24 !important;
}
